<form class="register-form" #registerNgForm="ngForm" (ngSubmit)="submit()">
	<label>
		<span>Nombre completo</span>
		<input
			#nameCtrl="ngModel"
			type="text"
			name="name"
			required
			minlength="5"
			[disabled]="disabled() || isLoading()"
			[ngModel]="name()"
			(ngModelChange)="name.set($event)"
		/>
	</label>
	@if(nameCtrl.invalid && nameCtrl.touched){
		<span class="error">
			@if(nameCtrl.errors?.['required']){
				Ingresar nombre es obligatorio
			}
			@if(nameCtrl.errors?.['minlength']){
				El nombre debe tener al menos 5 caracteres
			}
		</span>
	}

	<label>
		<span>Correo</span>
		<input
			#emailCtrl="ngModel"
			type="email"
			name="email"
			required
			email
			[disabled]="disabled() || isLoading()"
			[ngModel]="email()"
			(ngModelChange)="email.set($event)"
		/>
	</label>
	@if(emailCtrl.invalid && emailCtrl.touched){
		<span class="error">
			@if(emailCtrl.errors?.['required']){
				Ingresar email es obligatorio
			}
			@if(emailCtrl.errors?.['email']){
				El formato ingresado del email es icorrecto
			}

		</span>
	}

	<div class="register-form__row">
		<label>
			<span>Contrasena</span>
			<input
				#passwordCtrl="ngModel"
				type="password"
				name="password"
				required
				minlength="8"
				pattern=".*[A-Z].*"
				[disabled]="disabled() || isLoading()"
				[ngModel]="password()"
				(ngModelChange)="password.set($event)"
			/>
		</label>
		@if (passwordCtrl.invalid && passwordCtrl.touched) {
			<span class="error">
				@if(passwordCtrl.errors?.['required']) {
					Ingresar una contraseña es obligatoria
				}
				@if(passwordCtrl.errors?.['minlength']){
					La contraseña debe tener al menos 8 caracteres
				}
				@if(passwordCtrl.errors?.['pattern']){
					La contraseña debe tener al menos una mayuscula
				}
			</span>
		}

		<label>
			<span>Confirmar contrasena</span>
			<input
				#confirmPasswordCtrl="ngModel"
				type="password"
				name="confirmPassword"
				required
				[disabled]="disabled()|| isLoading()"
				[ngModel]="confirmPassword()"
				(ngModelChange)="confirmPassword.set($event)"
			/>
		</label>
		@if(confirmPasswordCtrl.invalid && confirmPasswordCtrl.touched){
			<span class="error">
				@if(passwordCtrl.errors?.['required']) {
					Confirmar tu contraseña es obligatorio
				}
			</span>
		}
	</div>


	@if (password() !== confirmPassword() ){
		<span class="error">Las contraseñas no coinciden</span>
	}

	<button type="submit" [disabled]="disabled() || isLoading() || registerNgForm.invalid || password() !== confirmPassword()">Crear cuenta</button>

</form>
